@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
:root {
  --body-letter: "Poppins", sans-serif;
  --title-letter: "PT Serif", serif;
}
body {
  font-family: var(--body-letter);
}
/*---------------------------------MAIN--------------------------------------------*/
/*-----Title----*/
.main-title > h1 {
  font-family: var(--title-letter);
  font-weight: 700;
  font-size: 2rem;
}

/*-----Description----*/
.main-desc > h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

/*-----Members----*/
.card-info h2 {
  font-size: 600;
  font-size: 1.5rem;
}
.card-job {
  font-family: var(--title-letter);
  font-weight: 400;
}
