@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
:root {
  --body-letter: "Poppins", sans-serif;
  --title-letter: "PT Serif", serif;
}
body {
  font-family: var(--body-letter);
}
/*---------------------------------MAIN--------------------------------------------*/
/*-----Title----*/
.main-title {
  padding: 0.5rem;
}
.main-title > h1 {
  font-family: var(--title-letter);
  font-weight: 700;
  font-size: 2rem;
}

/*-----Description----*/
.main-desc {
  padding: 0.5rem;
}
.main-desc > h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

/*-----Members----*/
.main-members {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-members-card:nth-child(even) {
  margin-top: 2.5rem;
}
.main-members-card {
  flex: 1 0 40%;
  padding: 0.5rem;
  display: flex;
}
.card-info img {
  width: 100%;
  border-radius: 10px;
}
.card-info h2 {
  font-size: 600;
  margin-top: 0.5rem;
}
.card-job {
  font-family: var(--title-letter);
  font-weight: 400;
  writing-mode: vertical-lr;
  margin-left: 0.5rem;
}
